<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite parallel="tests" name="Loan Department">
    <listeners>
        <listener class-name="TestComponents.Listeners"/>
    </listeners>
    <test thread-count="5" name="Standard Test">
        <classes>
            <class name="org.example.POMTest"/>
        </classes>
    </test>
</suite>